<IfModule mod_rewrite.c>
	RewriteEngine On
	Options +FollowSymlinks 
	
# HTTPS
	RewriteCond %{HTTPS} off
	RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

AddCharset UTF-8 .html

# Block Hotlinking
	RewriteCond %{HTTP_REFERER} !^$
	RewriteCond %{REQUEST_FILENAME} -f
	RewriteCond %{REQUEST_FILENAME} \.(jpg|jpeg|png|gif|ico|css|js)$ [NC]
	RewriteCond %{HTTP_REFERER} !^https?://([^.]+\.)?hackedit\. [NC]
	RewriteRule \.(jpg|jpeg|png|gif|ico|css|js)$ - [F,NC,L]
# End Block Hotlinking

# Adaptive Images
	RewriteCond %{QUERY_STRING} r=300
	RewriteCond %{DOCUMENT_ROOT}/gallery/thumbs/gallery%{REQUEST_URI}.300px -f
	RewriteRule \.(?:jpe?g|gif|png)$ /thumbs/gallery%{REQUEST_URI}.300px [L]

	RewriteCond %{QUERY_STRING} r=300
	RewriteCond %{REQUEST_URI} !thumbs
	RewriteRule \.(?:jpe?g|gif|png)$ adaptive-images.php
# End Adaptive Images
</IfModule>


# disable ETags
<IfModule mod_headers.c>
	Header set Connection keep-alive
	Header unset ETag
	FileETag None
</IfModule>

# Caching
<IfModule mod_headers.c>
	<filesMatch ".(ttf|otf|woff|woff2)$">
		Header set Cache-Control "max-age=31536000, public"
	</filesMatch>
	<filesMatch ".(css|js|jpg|jpeg|png|gif|ico)$">
		Header set Cache-Control "max-age=2592000, public"
	</filesMatch>
	Header set Cache-Control "max-age=10, public"	
</IfModule>
