<IfModule mod_rewrite.c>
	RewriteEngine On
	Options +FollowSymlinks 
	
# Block Bots
#	RewriteCond %{HTTP_USER_AGENT} ^Googlebot [OR,NC]
#	RewriteCond %{HTTP_USER_AGENT} ^Bingbot [OR,NC]
#	RewriteCond %{HTTP_USER_AGENT} ^(.*)bot$ [OR,NC]
#	RewriteCond %{HTTP_USER_AGENT} ^Slurp [NC]
#	RewriteRule .* - [F]
	
# HTTPS
#	RewriteCond %{HTTPS} off
#	RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

AddCharset UTF-8 .html

# Block Hotlinking
#	RewriteCond %{HTTP_REFERER} !^$
#	RewriteCond %{REQUEST_FILENAME} -f
#	RewriteCond %{REQUEST_FILENAME} \.(jpg|jpeg|png|gif|ico|css|js)$ [NC]
#	RewriteCond %{HTTP_REFERER} !^https?://([^.]+\.)?hackedit\. [NC]
#	RewriteRule \.(jpg|jpeg|png|gif|ico|css|js)$ - [F,NC,L]
# End Block Hotlinking

# Adaptive Images
#	RewriteCond %{QUERY_STRING} r=150
#	RewriteCond %{DOCUMENT_ROOT}/gallery/thumbs%{REQUEST_URI}.150px -f
#	RewriteRule \.(?:jpe?g|gif|png)$ /thumbs%{REQUEST_URI}.150px [NC,L]
#	
#	RewriteCond %{QUERY_STRING} r=300
#	RewriteCond %{DOCUMENT_ROOT}/gallery/thumbs%{REQUEST_URI}.300px -f
#	RewriteRule \.(?:jpe?g|gif|png)$ /thumbs%{REQUEST_URI}.300px [NC,L]
#
#	RewriteCond %{QUERY_STRING} r=1000
#	RewriteCond %{DOCUMENT_ROOT}/gallery/thumbs%{REQUEST_URI}.1000px -f
#	RewriteRule \.(?:jpe?g|gif|png)$ /thumbs%{REQUEST_URI}.1000px [NC,L]
#
#	RewriteCond %{QUERY_STRING} !=""
#	RewriteCond %{REQUEST_URI} !thumbs
#	RewriteRule \.(?:jpe?g|gif|png)$ adaptive-images.php
# End Adaptive Images
</IfModule>


# disable ETags
<IfModule mod_headers.c>
	Header set Connection keep-alive
	Header unset ETag
	FileETag None
</IfModule>

# Caching
<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresDefault A3600    
	
	ExpiresByType text/javascript A2592000
	ExpiresByType application/x-javascript A2592000
	ExpiresByType application/javascript A2592000
	ExpiresByType text/css A2592000
	
	ExpiresByType image/x-icon A2592000
	ExpiresByType image/gif A2592000
	ExpiresByType image/png A2592000
	ExpiresByType image/jpeg A2592000
	ExpiresByType application/pdf A2592000
</IfModule>